body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400 ;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}

.color{
    color: #ffffff;
}
.color2{
    color: grey;
    font-size: 1rem;
}
.text-wave{
  background: linear-gradient(
  90deg,
  #F7E93F 0%,
  #FB09B4 51%,
  #9100F8 100%);
  background-clip: text;
  color: transparent;
}
.btn{
  background: linear-gradient(
  30deg,
  #F7E93F 0%,
  #FB09B4 51%,
  #9100F8 100%);
  border: none;
  padding: 12px 20px 12px 20px;
  border-radius: 10000px;
}
.header{
    display: flex;
    justify-content: space-around;
    height: 92px;
    background-color: #1A0B2E;
    padding-top: 36px;
}
.fa-bars{
    display: none !important;
}
.header h2{
    font-size: 2.5rem;
    margin: 0;
}
.list{
    display: flex;
    gap: 32px;
    color: #ffffff;
    font-size: 1rem;
    list-style: none;
     padding-top: 15px;
}
.Subscribe-button{
    width: 135px;
    height: 44px;
    display: flex;
    gap: 4px;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    color: #ffffff;
}
.header h2 , ul , button{
    margin-top: 10px;
}
.line{
    border: 0.1px solid  rgb(52, 49, 49);
    width: auto;
}
.hero-circle{
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width:1600px ;
  height: 760px;
}
.hero-img{
    display: flex;
    justify-content: center;
   padding-top: 100px;
}
.img1{
    width: auto;
    height:auto;
     display: flex;
     justify-content: center;
     align-items: center;
    position: absolute;
}
.img2{
    width: auto;
    height: auto;
    position: relative;
    margin: 77px 116px;
}
.new{
    position: absolute;
    background-color: #00FF88;
    border-radius: 100000px;
    padding: 8px 16px ;
    color: black;
    text-align: center;
    align-items: center;
    line-height: 22px;
    transform: translateX(110px);
}
.img1 , .img2 {
  animation: circle 3s ease-in-out 4;
}
@keyframes circle{
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.08);
    opacity: 0.85;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
button:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(236, 4, 167, 0.35);
}
.Subscribe:hover{
    transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(18, 205, 46, 0.35)
}


.hero-footer-text{
    text-align: center;
}
.text-TechWave{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}
.button{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.Spotify{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    border: none;
}
.Subscribe{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    border:1px solid #00FF88;
    border-radius: 10000px;
    color:#00FF88 ;
    background: transparent;
    font-size: 1rem;
}
.section2{
   background-color: #1A0B2E;
   height: auto;
   margin-top: -0px;
   padding-bottom: 40px;
}
.section-text{
    text-align: center;
}
.text-about{
    margin: 0;
    font-size: 4rem;
    padding-top: 50px;
}
.text-join{
    padding-top: 20px;
}
.hr{
    width: 1200px;
    height: 1px;
    margin-top: 80px;
    border: none;
    background-color: rgb(52, 49, 49)
}
.number {
    color: #00FF88;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.number div{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.number h3{
    font-size: 3rem;
    margin-bottom: 6px;
    padding-left: 20px;
}
.number p{
     color: grey;
    font-size: 1rem;
}
.features-grid-section p{
    margin: 0;
    padding: 0;
}
.features-grid{
    height: 1050px;
    background-color: #230E3D;
}
.text-why{
    text-align: center;
    padding-top: 50px ;
    color: #ffffff;
    font-size: 2.5rem;
    
}
.Experience-text{
    width: 300px;
}
.section1{
    grid-area: section1;  
    width: 380px;
    height: auto;

}
.section1 img{
    margin-top:90px;
}
.section2{
    grid-area: section2;
    
}
.section3{
    grid-area: section3;  
}
.section4{
    grid-area: section4;  
}
.section5{
    grid-area: section5;  
}
.features-grid-section{
    display: grid;
    grid-template-areas: 
    "section1 section2 section2  section2"
    "section1 section3 section3  section3"
    "section4 section4 section5   section5"
    ;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;    
}
.features-grid-section div{
    
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 30px;
}

.headphone-grid{
    border: none;
}
.features-showcase{
    height: 1277px;
    background-color: #1A0B2E;
   margin-top: -55px;
}
.features-showcase-titel{
    font-size: 4rem;
    text-align: center;
    padding-top: 100px;
}
.video-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
     max-width: 1200px;
     margin: 0 auto;
}
.video{
    width: 380px;
}
.container-title{
    width: 270px;
    font-size: 1.2rem;
}
.container-dep{
    width: 332px;
}
.video-container{
    width: 380px;
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 20px;
}
.video-container h5{
    color: #00FF88;
    display: flex;
    align-items: center;
    gap: 4px;  
}
.video-container h3 , p , h5 {
    padding-left: 24px;
}
.text-meet{
    text-align: center;
    font-size: 4rem;
}
.profile{
    display: flex;
    justify-content: center;
}
.container-footer{
    display: flex;
    gap: 24px;
    padding: 48px 40px;
    width: 1200px;
    border: none;
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 50px;
}
.text-tech{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.profile-img-link{
    display: flex;
    gap: 14px;
}
.icon{
   padding: 15px;
   border-radius: 50%;
   border: 1px solid rgba(83, 60, 114, 1);  
}
.icon img{
   width: 20px;
    height: 20px;
}
.icon:hover{
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-3px);
}
.text-alex{
    font-size: 2rem;
   margin-top: 10px;
   
}
.footer{
  height: 80px;
}
.background-img{
    width: 100%;  
    height:auto;
    position: absolute;
}
.footer-titel{
    font-size: 4rem;
    margin-bottom: 10px;
    margin-top: 110px;
}
.footer-container{
    display: grid;
    justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.footer-banner{
    display: flex;
    gap: 40px;
}
.footer-text{
    padding: 0;
}
.footer-icon{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer{
  background-image: url(./assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width:1600px ;
  height: 412px;
}

@media screen  and  (max-width:576px) {
    .header ul , .Subscribe-button{
        display: none;
    }
    .header{
        justify-content:space-between;
    }
    .header h2{
    font-size: 2rem;
    padding-left: 10px;
    }
    .fa-bars{
        display: block !important;
        width: 24px;
        height: 24px;
        color: #ffffff;
        font-size: 1.3rem;
        display: flex;
        text-align: center;
        align-items: center;
        padding-top: 20px;
        padding-right: 10px;
    }
     .hero-circle{
   background-image: url(./assets/Header1.png);
   background-repeat: no-repeat;
   width: 100%;
   height: auto ;
   padding-bottom: 40px;
  }
  .hero-img{
    display: flex;
    justify-content: center;
   padding-top: 40px;
}
  .img1{
    width: 200px;
    height: 200px;
  }
  .img2{
    width: auto;
    height: 80px;
    margin: 0;
    padding: 60px;
  }
  .new{
    width:38px ;
    height:19px ;
    padding: 4px 9px ;
    transform: translateX(80px);
  }
  .text-TechWave{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0px;
   }  
 .text-you {
    margin: 0;
    padding-top: 7px;
   }
  .button{
    margin: 0;
    padding-top: 11px
   }
   .hr{
    width: auto;
   }
  .number {
    color: #00FF88;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    }  
    .features-grid-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
    }
    .features-showcase{
     height: 100%;
    }
    .video-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
    gap: 16px;
    }
    .section1{
    width: auto;
    }
    .section1 img{
    margin-top:24px;
}
    .features-grid{
        height: 100%;
    }
    .background-img{
        width:100%;
        height: 440px;
    }
     .container-footer{
        flex-direction: column;
        text-align: center;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .profile-img-link{
     justify-content: center;
    }
   .footer-banner{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 12px;
    justify-content: center;
    margin-left: 70px;
  }
  .footer-icon{
    gap:6px;
  }
  .img4 , .img5{
    margin-top: -15px;
  }
 .footer-titel{
    font-size: 2rem;
    margin-top: 30px;
    }
   .Podcasts{
      display: none;
    }
     .footer{
   background-image: url(./assets/Responsive-Footer.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 250px ;
  }
  .features-showcase-titel{
    font-size: 2rem;
  }
  .video-container{
    max-width: 360px;  
    width: 100%;
    margin: 0 auto;   
  }
  .video-container iframe{
    width: 100%;
    height: 200px;
  }
  .features-showcase{
    padding: 0 16px;
    margin-top: -30px;
  }
  .text-meet{
    font-size: 2rem;
  }
  .text-why{
     font-size: 2rem;
  }
  .video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-dep{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
}
