body{
    margin: 0;
    padding: 0;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.color{
    color: #ffffff;
}
.color2{
    color: grey;
    font-size: 1rem;
}
.features-grid{
    
    height: 1050px;
    background-color: #230E3D;
}
.text-why{
    text-align: center;
    padding-top: 60px ;
    color: #ffffff;
    font-size: 2.5rem;
    
}
.Experience-text{
    width: 300px;
}
.section1{
    grid-area: section1;  
    width: 380px;
    height: auto;

}
.section1 img{
    margin-top:90px;
}
.section2{
    grid-area: section2;
    
}
.section3{
    grid-area: section3;  
}
.section4{
    grid-area: section4;  
}
.section5{
    grid-area: section5;  
}
.features-grid-section{
    display: grid;
    grid-template-areas: 
    "section1 section2 section2  section2"
    "section1 section3 section3  section3"
    "section4 section4 section5   section5"
    ;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;    
}
.features-grid-section div{
    
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 30px;
}

.headphone-grid{
    border: none;
}
@media screen  and  (max-width:576px) {
    .features-grid-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
    
    }
    .section1{
       width: auto;
    }
    .section1 img{
    margin-top:24px;
}
    .section1 p{
      
    }
    .features-grid{
        height: 100%;
    }
}