body{
    margin: 0;
    padding: 0;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.color{
    color: #ffffff;
}
.color2{
    color: grey;
    font-size: 1rem;
}
.features-grid{
    
    height: 1050px;
    background-color: #230E3D;
}
.text-why{
    text-align: center;
    padding-top: 60px ;
    color: #ffffff;
    font-size: 2.5rem;
    
}
.Experience-text{
    width: 300px;
}
.section1{
    grid-area: section1;  
    width: 380px;
    height: auto;

}
.section1 img{
    margin-top:90px;
}
.section2{
    grid-area: section2;
    
}
.section3{
    grid-area: section3;  
}
.section4{
    grid-area: section4;  
}
.section5{
    grid-area: section5;  
}
.features-grid-section{
    display: grid;
    grid-template-areas: 
    "section1 section2 section2  section2"
    "section1 section3 section3  section3"
    "section4 section4 section5   section5"
    ;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;    
}
.features-grid-section div{
    
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 30px;
}

.headphone-grid{
    border: none;
}
@media screen  and  (max-width:576px) {
    .features-grid-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
    
    }
    .section1{
       width: auto;
    }
    .section1 img{
    margin-top:24px;
}
    .section1 p{
      
    }
    .features-grid{
        height: 100%;
    }
}

.img1{
    width: auto;
    height:auto;
     display: flex;
     justify-content: center;
     align-items: center;
    position: absolute;
}
.img2{
    width: auto;
    height: auto;
    position: relative;
    margin: 77px 116px;
}
.new{
    position: absolute;
    background-color: #00FF88;
    border-radius: 100000px;
    padding: 8px 16px ;
    color: black;
    text-align: center;
    align-items: center;
    line-height: 22px;
    transform: translateX(110px);
}
.hero-img{
    display: flex;
    justify-content: center;
   padding-top: 100px;
}
.hero-circle{
   background-image: url(./assets/hero-bg.png);
   background-repeat: no-repeat;
  background-size: cover;
  max-width:1600px ;
  height: 760px;
}
.hero-footer-text{
    text-align: center;
}
.text-TechWave{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 0;
}
.btn{
  background: linear-gradient(
  30deg,
  #F7E93F 0%,
  #FB09B4 51%,
  #9100F8 100%);
  border: none;
  padding: 12px 20px 12px 20px;
  border-radius: 10000px;
}
.button{
    display: flex;
    justify-content: center;
    gap: 8px;
}
.Spotify{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
}
.Subscribe{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    border:1px solid #00FF88;
    border-radius: 10000px;
    color:#00FF88 ;
    background: transparent;
    font-size: 1rem;
}
@media screen  and  (max-width:576px){
    .hero-circle{
   background-image: url(./assets/Header1.png);
   background-repeat: no-repeat;
   background-size: contain;
   border: 2px solid rgb(242, 140, 8);
   width: auto;
   height: 600px;
  }
  .hero-img{
    display: flex;
    justify-content: center;
   padding-top: 40px;
}
  .img1{
    width: 200px;
    height: 200px;
  }
  .img2{
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 60px;
  }
  .new{
    width:38px ;
    height:19px ;
    padding: 4px 9px ;
    transform: translateX(80px);
  }
  .text-TechWave{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0px;
 }
 .text-you {
    margin: 0;
    padding-top: 7px;
 }
  .button{
     margin: 0;
    padding-top: 11px
  }
}























.asd{
    text-align: center;
}
.text-about{
    font-size: 3rem;
}



.fx{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
}
.fx h3{
    color: #00FF88;
    font-size: 2rem;
   
}
.fx p{
    color: grey;
    font-size: 1rem;
    
}

@media screen  and  (max-width:576px){
    .fx{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
}




container-footer-text img:hover{
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-3px);
}

background: linear-gradient(
  90deg,
  #F7E93F 0%,
  #FB09B4 51%,
  #9100F8 100%
);
