body{
    margin: 0;
    padding: 0;
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: ;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.color{
    color: #ffffff;
}
.color2{
    color: grey;
    font-size: 1rem;
}
.features-grid{
    
    height: 1050px;
    background-color: #230E3D;
}
.text-why{
    text-align: center;
    padding-top: 60px ;
    color: #ffffff;
    font-size: 2.5rem;
    
}
.Experience-text{
    width: 300px;
}
.section1{
    grid-area: section1;  
    width: 380px;
    height: auto;

}
.section1 img{
    margin-top:90px;
}
.section2{
    grid-area: section2;
    
}
.section3{
    grid-area: section3;  
}
.section4{
    grid-area: section4;  
}
.section5{
    grid-area: section5;  
}
.features-grid-section{
    display: grid;
    grid-template-areas: 
    "section1 section2 section2  section2"
    "section1 section3 section3  section3"
    "section4 section4 section5   section5"
    ;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;    
}
.features-grid-section div{
    
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 30px;
}

.headphone-grid{
    border: none;
}
@media screen  and  (max-width:576px) {
    .features-grid-section{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 16px;
    
    }
    .section1{
       width: auto;
    }
    .section1 img{
    margin-top:24px;
}
    .section1 p{
      
    }
    .features-grid{
        height: 100%;
    }
}
.hero-circle{
    background: url(assets/hero-bg.png);
    width: 100%;
    height: 760px;
}
.img1{
    width: auto;
    height:auto;
     display: flex;
     justify-content: center;
     align-items: center;
    position: absolute;
}
.img2{
    width: auto;
    height: auto;
    position: relative;
 margin: 77px 116px;
}
.asd{
    text-align: center;
}
.text-about{
    font-size: 3rem;
}
.fx{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
}
.fx h3{
    color: #00FF88;
    font-size: 2rem;
   
}
.fx p{
    color: grey;
    font-size: 1rem;
    
}

@media screen  and  (max-width:576px){
    .fx{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
}




container-footer-text img:hover{
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-3px);
}

background: linear-gradient(
  90deg,
  #F7E93F 0%,
  #FB09B4 51%,
  #9100F8 100%
);
